<!DOCTYPE html>
<html>
<head>

	<title>Art Gallery</title>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="gallery.js"></script>
</head>
<body>
	<h2>New Artwork Form</h2>
	<form id="art-form">
		<input id="art-title" name="title" placeholder="enter a title" />
		<input id="art-artist" name="artist" placeholder="enter an artist" />
		<input id="art-description" name="description" placeholder="enter a description" />
		<input type="submit" />
	</form>
	<ul id="artworks-list"></ul>
    <script id="artworks-li-template"></script>
</body>
</html>
